{% extends "layout.html" %}
{%block basecontent%}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Fin Bud</p>
                
                <p>In simple words, personal finance entails all the financial decisions and activities that a Finance app makes your life easier by helping you to manage your finances efficiently. A personal finance app will not only help you with budgeting and accounting but also give you helpful insights about money management.
                Personal finance applications will ask users to add their expenses and based on their expenses wallet balance will be updated which will be visible to the user.  Also, users can get an analysis of their expenditure in graphical forms. They have an option to set a limit for the amount to be used for that particular month if the limit is exceeded the user will be notified with an email alert.</p>
                <div class='parent'>
                    <div class="center">
                    <div class='child inline-block-child'><a href="/login"><button type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button></a><br></div>
                    <div class='child inline-block-child'><a href="/register"><button type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button></a><br></div>
                  </div></div>
            </div>
        </div>
    </div>
</section>
{% endblock basecontent %}